/* Global settings */
@media screen and (max-width: 768px) {
  .nestedCard {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "one";
    border-top: 4px solid #ffffff;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-style: "Lato";
  background-image: url("pink_blue.png");
  background-repeat: no-repeat;
}

h1 {
  font-size: 4em;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

ul {
  list-style: none;
}

img {
  -webkit-border-radius: 1px 2px 3px 4px;
  -moz-border-radius: 1px 2px 3px 4px;
  border-radius: 1px 2px 3px 4px;
  height: 12vh;
  width: 10vh;
  float: left;
}

/* Classes */
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 75vh;
  grid-template-rows: 25vh 5vh 45vh 20vh;
  grid-template-areas:
    "hd"
    "nb"
    "ct"
    "ft";
  grid-gap: 3.5vh;
  padding: 2%;
}

.nestedCard {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "one two";
  border-top: 4px solid #ffffff;
}

.authorbox {
  width: 30vw;
  height: 20vh;
  padding-top: 10%;
  padding-left: 6%;
  margin: 5%;
}

.title {
  font-size: 1.6em;
  text-transform: capitalize;
  color: white;
}

.author {
  font-size: 0.8em;
  color: white;
  text-transform: uppercase;
}

.header {
  grid-area: hd;
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border: 3px solid white;
}

.navbar {
  grid-area: nb;
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  font-size: 1.5em;
}

.navbar li {
  padding: 3%;
}

.info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: "three four";
}

.social {
  display: flex;
  flex-direction: row;
}

.social img {
  width: 10%;
  height: 10%;
  border: none;
  padding: 2px;
  margin: 2px;
}

.content {
  grid-area: ct;
  border-top: 4px solid #ffffff;
  color: white;
  font-size: 1.2em;
  padding: 3%;
}

.footer {
  display: flex;
  flex-direction: row;
  grid-area: ft;
  border-top: 8px solid #ffffff;
  color: white;
  justify-content: center;
  padding: 5%;
}

/* CSS */
/* CSS */
.button-80 {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  float: right;
}

.button-80:focus {
  outline: 0 solid transparent;
}

/* ID's */
#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
  display: flex;
  flex-direction: column;
}

#four {
  grid-area: four;
}
